#gold_medal{
  color: gold;
}

#silver_medal{
  color: silver;
}

#bronze_medal{
  color: orange;
}

.metal {
  font-family: sans-serif, Helvetica;
  color: #236bc0;
  font-style: oblique;
  font-weight: bold;
  font-size: 1.5em;
}
.ribbon{
  font-family: monospace;
  color: inherit;
  font-style: oblique;
  font-weight: normal;
  font-size: .77em;
}
