#gold_medal{
  color: gold;
}

#silver_medal{
  color: silver;
}

#bronze_medal{
  color: orange;
}

.metal {
  font-family: sans-serif, Helvetica;
  color: #236bc0;
  font-style: oblique;
  font-weight: bold;
  font-size: 1.789em;
}
.ribbon{
  font-family: serif;
  font-size: 1.1em;
  font-style: normal;
  font-weight: lighter;
  color: violet;
}
